In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
# создание сессии с помощью SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

spark.sql("select 'hello spark'").collect()[0][0]

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/26 14:55:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/26 14:55:15 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
/home/santalovdv/.local/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

'hello spark'

In [ ]:
# создание ссесии с помощью SparkContext

from pyspark import SparkContext, SparkConf

conf = SparkConf().setMaster("local").setAppName("newSession")

sc = SparkContext(conf=conf)

spark.sql("select 'hello spark'").collect()[0][0]

In [5]:
spark

In [ ]:
# конвертирую excel в csv

import pandas as pd

df_excel = pd.read_excel('cvm_srv.xlsx')

df_excel.to_csv('cvm_srv.csv', index=False)

In [6]:
# чтение фрейма данных

# InferSchema - автоматическое определение типов данных при чтении файла

df_spark = spark.read.option('header', 'true').csv('cvm_srv.csv', inferSchema=True)

In [5]:
# вывод результата

df_spark.show(1)

+-----------+----------------+--------------------+-----------+----------------+-----+---------+----------+------+--------+----+
|campaign_cd|     campaign_nm|            name_cvm|global_code|     global_name|regid|  service|       cvm|contur| product|dayy|
+-----------+----------------+--------------------+-----------+----------------+-----+---------+----------+------+--------+----+
|CAMP1026252|1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0910.1|100 SMS в Европе|   67|46355.067|CVMB2B-865|   b2c|Mob_core|  30|
+-----------+----------------+--------------------+-----------+----------------+-----+---------+----------+------+--------+----+
only showing top 1 row

In [ ]:
# вывод схемы

df_spark.printSchema()

In [ ]:
# получение колонок

df_spark.columns

In [ ]:
# получение кортежа из строк
df_spark.head(1)[0]

In [ ]:
# Выборка по полю

df_spark.select('regid', 'dayy').show()

# df_spark['regid', 'dayy'].show()

#df.regid

In [ ]:
# Добавление поля

df_spark = df_spark.withColumn("new_column", df_spark['regid']+1)

In [ ]:
# Удаление поля

df_spark = df_spark.drop('new_column')

In [ ]:
# Переименование поля

df_spark.withColumnRenamed("regid", "regid_new")

In [ ]:
# удаление строк с пустыми полями

# drop (how = как удалять, subset = из каких полей, thresh = какая то мера удаления)

df_spark.na.drop()

In [ ]:
# чем заполнить пробелы (Null)

df_spark.na.fill('missing_values',['name_cvm'])

In [ ]:
# заполнить пробелы средним значением

# можно выбрать также mod, median

from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols = ["regid","dayy","new_column"],
                 outputCols = ["{}_imputed".format(c) for c in ["regid","dayy","new_column"]]).setStrategy("mean") 

imputer.fit(df_spark).transform(df_spark).show()

In [ ]:
# фильтры

df_spark.filter("regid=68").show()

df_spark.filter(df_spark['regid']>68).show()

In [ ]:

# фильтры с условием И (&) и ИЛИ (|)

df_spark.filter((df_spark['regid']>68) & (df_spark['dayy'] == 70)).show()

df_spark.filter((df_spark['regid']>68) | (df_spark['dayy'] == 70)).show()

In [ ]:
# фильтры с условием НЕ (~)

df_spark.filter(~(df_spark['regid']>68)).show()

In [ ]:
# Фильтр like

df_spark.filter(df_spark['global_code'].like('PE5%')).show()

In [ ]:
# создание DataFrame (самостоятельно)

data = [('Lucy', 10, 3_000),('Tanya', 35, 200_000), ('Kolya', 15, 0)]

df = spark.createDataFrame(data, ['name', 'age', 'money'])

In [ ]:
# Группировка

df_spark.printSchema()

In [ ]:
# Группировка
# у группировки много есть агрегирующих функций (sum, min, max и тд.) Если не указывать ничего внутри функции, 
# он будет суммировать все поля числовые, если указать внутри функции, то только их

df_spark.groupBy('global_code').sum('service', 'dayy')

# df_spark.groupBy('global_code').sum()

In [ ]:
# среднее и подсчет элементов

df_spark.groupBy('global_code').mean().show()

df_spark.groupBy('global_code').count().show()

In [ ]:
# агрегирующая функция (два варианта применения)
from pyspark.sql.functions import sum

df_spark.groupBy("global_code").agg({'regid':'sum'}).show()

df_spark.groupBy("global_code").agg(sum('regid').alias('cnt_day')).show()

In [ ]:
# сортировка 


# df_spark.sort(df_spark['dayy'].asc()).show()

df_spark.orderBy(df_spark['dayy'].asc()).show()

In [10]:
# сохранить датафрейм в памяти компьютера (для операций ускорения action операций)

df_spark.cache()

25/05/26 08:50:07 WARN CacheManager: Asked to cache already cached data.

DataFrame[campaign_cd: string, campaign_nm: string, name_cvm: string, global_code: string, global_name: string, regid: int, service: double, cvm: string, contur: string, product: string, dayy: int]

In [ ]:
# MEMORY_ONLY,MEMORY_AND_DISK, MEMORY_ONLY_SER, MEMORY_AND_DISK_SER, DISK_ONLY, MEMORY_ONLY_2,MEMORY_AND_DISK_2
# позволяет контролировать, где сохранится датафрейм, по умолчанию метод  MEMORY_AND_DISK

df_spark.persist()

In [17]:
# применения функции col (для выделения полей отдельной функцией)

from pyspark.sql.functions import col

df_spark.filter((col('global_code').like('PE%')) & \
         (col('regid') > 68)).show(10)

+-----------+------------------+--------------------+-----------+--------------------+-----+----------+-----------+------+--------+----+
|campaign_cd|       campaign_nm|            name_cvm|global_code|         global_name|regid|   service|        cvm|contur| product|dayy|
+-----------+------------------+--------------------+-----------+--------------------+-----+----------+-----------+------+--------+----+
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE1094.1|150 SMS в поездка...|   71| 76432.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0909.1|     50 SMS в Европе|   71| 75320.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE1095.1|    150 SMS в Европе|   71| 76435.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0540.1|50 SMS в поездках...|   71| 66971.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0909.1|     50 SMS в Европе|   71| 75320.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0910.1|    100 SMS в Европе|   71| 75323.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE1096.1|100 SMS в поездка...|   71| 43449.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026252|  1757_RTM_B2B_MNR|50 SMS в поездках...|   PE0540.1|50 SMS в поездках...|   71| 66971.071| CVMB2B-865|   b2c|Mob_core|  30|
|CAMP1026681|   B2B_202408_KION|                KION|  PE23890.1|  KION корпоративный|   71|142159.071|CVMB2B-1006|   b2c|Mob_core|  30|
|CAMP1024632|B2B_202403KIONCOMP|                KION|  PE23890.1|  KION корпоративный|   71|142159.071| CVMB2B-854|   b2c|Mob_core|  30|
+-----------+------------------+--------------------+-----------+--------------------+-----+----------+-----------+------+--------+----+
only showing top 10 rows

In [8]:
# JOIN в pypsark. В параметр how можно передать тип join-a 

# "inner" (внутреннее): возвращает строки, которые есть в обоих DataFrame.
# "outer" (внешнее) или "full" (полное): возвращает все строки из обоих DataFrame.
# "left" (левое): возвращает все строки из левого DataFrame и совпадающие строки из правого DataFrame.
# "right" (правое): возвращает все строки из правого DataFrame и совпадающие строки из левого DataFrame.
# "semi" (полу): возвращает строки из левого DataFrame, где есть совпадения в правом DataFrame.
# "anti" (анти): возвращает строки из левого DataFrame, где нет совпадений в правом DataFrame.


df1 = spark.createDataFrame([(1, "John", "Chicago"),
                            (2, "Mike", "New York"),
                            (3, "Sue", "Washington")], ["Id", "Name", "City"])

df2 = spark.createDataFrame([(1, "Blue"),
                            (2, "Red"),
                            (4, "Green")], ["Id", "Color"])

# Присоединяем df2 к df1 по "Id"
df3 = df1.join(df2, on="Id", how="inner").select('Name')

# df3 = df1.join(df2, df1.Id == df2.UserId, how="inner")

df3.show()

AttributeError: 'DataFrame' object has no attribute 'col'